header {
  /* position: fixed; */
  width: 100%;
  font-weight: 700;
}
.title {
  font-size: 2.5vh;
}

li {
  list-style: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}
nav {
  /* background: #3366ff; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 2vh;
  /* font-size: calc(0.5rem + 1.5vw); */
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  /* margin-right: 5vh; */
}

nav ul li a {
  display: block;
  padding: 0.5vh;
  margin: 0 0.5vh;
  border-radius: 0.5vh;
}

.active {
  background-color: beige;
}

nav ul li a:hover {
  background-color: #172554;
}

nav .menu {
  display: none;
  position: absolute;
  top: 2.5vh;
  right: 0.5vh;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media(max-width:768px){
  nav .menu{
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 1vh;
  }
  nav ul li{
    width: 100%;
    text-align: center;
  }
}